@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: Montserat, sans-serif;
}
.top-menu {
    background-color: #404041;
    height: 100px;
}
.logo {
    color: #fff;
    font-size: 40px;
    font-weight: 900;
}
.mr {
    margin-right: 30px;
}
.main {
    background-color: #dbe7ee;
    padding: 40px 0px;
    height: calc(100vh - 130px);
}
.list {
    border: 0.25px solid gray;
    background-color: #fff;
    margin: 15px;
}
.list-id {
    padding: 15px 15px;
    background-color: #28a745;
    color: #fff;
    font-weight: 700;
    height: 100%;
}
.list-title {
    padding: 15px 15px;
}
.note {
    border: 0.5px solid gray;
    background-color: #fff;
    margin: 15px;
}
.note-id {
    padding: 15px 15px;
    background-color: #00ADEF;
    color: #fff;
    font-weight: 700;
    height: 100%;
}
.note-title {
    padding: 15px 15px;
}
footer {
    background-color: #404041;
    color: #fff;
    height: 30px;
    font-size: 12px;
}